html{
  box-sizing: border-box;  
}

* {
    box-sizing: inherit;
}

#piano { 
  background-color: #00471b;
  width: 992px;
  height: 290px;
  margin: 80px auto ;
  border-radius: 10px;
  padding: 90px 20px 0;
  position: relative;
}

.keys {
  background-color: #040404;
  width: 949px;
  height: 180px;
  padding-left: 2px; 
  overflow: hidden;
}

.key {
  background-color: #ffffff;
  width: 41px;
  height: 175px;
  float: left;
  margin: 2px;
  border-radius: 0 0 3px 3px; 
  position: relative; 
}

.key.black-key::after {
  background-color: #2109fa;
  width: 32px;
  height: 100px;
  content: "";
  position:absolute;
  left: -18px;
}

.logo {
    position: absolute;
    top: 23px;
    color: rgb(49, 250, 9);
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 768px) {

#piano {
    width: 358px;
}

.keys {
    width: 318px;
}
}
@media (max-width: 1199px) and (min-width: 769px) {
  #piano {
    width: 675px;
  }

  .keys {
    width: 633px;
  }
}