@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Silkscreen&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color:#24272e;
}

header {
    background-color: white;
    padding: 20px;
}

header > h1 {
 color: #24272e;
 text-align: center;
 font-family: 'Silkscreen', cursive;
}

.score-borard{
  margin: 20px auto;
  border: 3px solid white;
  text-align: center;
  width: 200px;
  font-family: 'Unlock', cursive;
  font: 46px;
  padding: 15px 20px;
  position: relative;
}

.badge {
    background-color: #e25840;
    font-size: 14px;
    font-family: calibri, sans-serif;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

#riesult {
    font-family: calibri, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

#stage {
    margin: 50px 0;
}

#stage > img {
    height: 250px;
    margin: 0 50px;
}

#comp-choice {
    transform: rotateY(180deg);
}

#choices {
    margin-top: 50px;
}

.choice {
    width: 130px;
    height: 130px;
    border: 4px solid white;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    transition: all 1s ease;
}

.choice > img {
    width: 96px;
}

.choice:hover {
    cursor: pointer;
    background-color: darkcyan;
}

#message {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}